.createSchoolForm {
  width: 50%;
  margin: auto;
  padding: 1rem;
  border: 1px solid #3b0062;
  border-radius: 5px;
  background-color: rgba(192, 198, 201, 0.062);
}

.btndiv {
  text-align: center;
  margin-top: 1rem;
}

div:last-child button {
  width: 10rem;
}

.branchDiv {
  width: 100%;
  margin: auto;
  padding: 1rem;
  border: 1px solid #3b0062;
  border-radius: 5px;
  background-color: rgba(207, 213, 216, 0.062);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid darkblue;
  cursor: pointer;
}

.pagination a:hover {
  color: white;
  background-color: darkblue;
}

.activePagination a {
  color: white;
  background-color: darkblue;
}