.btndiv {
    text-align: center;
    margin-top: 1rem;
  }
  
  .vehiclesDiv {
      width: 100%;
      margin: auto;
      padding: 1rem;
      border: 1px solid #3b0062;
      border-radius: 5px;
      background-color: rgba(207, 213, 216, 0.062);
  }
  
  .categories {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 1rem 0px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."
      ". . . ."; 
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid darkblue;
  cursor: pointer;
}

.pagination a:hover {
  color: white;
  background-color: darkblue;
}

.activePagination a {
  color: white;
  background-color: darkblue;
}

.table {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.666) 3px 2px 8px;
} 
.table, th, td {
  border: 1px solid black;
  padding: 1px 2px;
} 

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}